@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

/* Fix for potential sidebar height issues */
.side-nav {
  transition: width 0.3s ease;
  min-height: calc(100vh - [navbar-height] - [footer-height]);
  /* Example: min-height: calc(100vh - 56px - 60px); */
}


/* Main content adjustment */
.main-content {
  transition: margin-left 0.3s ease;
}